---
layout: default
title: Posts categorised as %cat%
---
- page.category_posts.reverse.each do |post|
  .slim_entry
    %h3== <a href="#{post.url}">#{post.title}</a>
    .information== #{post.date.strftime("%d %b %Y")}